* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  padding: 0 8%;

  background-image: url(../images/background.png);
}
.logo {
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}
.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}
.content h1 {
  font-size: 60px;
  font-weight: 600;
}

.content h1 span {
  color: #ff3753;
}

.content button {
  background: transparent;
  padding: 12px 25px;
  outline: none;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.content button img {
  width: 15px;
  margin-left: 10px;
}

.launch-time {
  display: flex;
}

.launch-time div {
  flex-basis: 100px;
}

.launch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
}

.rocket {
  width: 250px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: 105%;
  }
}
